@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
body {
  height: 100vh;
  background-image: linear-gradient(
      rgba(46, 54, 61, 0.685),
      rgba(46, 54, 61, 0.699)
    ),
    url("/imgs/bg.jpg");
  background-size: cover;
  margin: 0;
  background-attachment: fixed;
}
nav ul li a{
  font-family: "Manrope", sans-serif;
}
.logo{
  max-width: 100px;
  filter: invert(1);
  animation: logo 1s ease-out;
}
@keyframes logo {
  0%{
    transform: scale(0.1);
  }
  100%{
    transform: scale(1);
  }
}
.btn{
  border: whitesmoke solid 1.5px;
  color: whitesmoke;
  text-decoration: none;
  padding: 7px;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Manrope", sans-serif;
}
.btn:hover{
  background-color: rgba(46, 54, 61, 0.685);
color: whitesmoke;
border: rgba(46, 54, 61, 0.685) solid 1.5px;
transition:  .4s;
}