body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vmin;
  width: 80vmin;
}

.circle {
  background: linear-gradient(90deg, #90caf9 50%, #64b5f6 50%);
  width: 70%;
  height: 70%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wait {
  font-family: "Parisienne", cursive;
}

.bread {
  position: relative;
}

.top-bread {
  width: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
}

.bottom-bread {
  width: 80%;
  height: 80%;
  top: 20%;
  left: 10%;
  position: absolute;
  border-radius: 0 0 5% 5%;
}

.crust {
  width: 70%;
  height: 70%;
}
.crust .top-bread, .crust .bottom-bread {
  background: linear-gradient(90deg, #e65100 50%, #c94700 50%);
}
.crust .top-bread {
  height: 40%;
}

.crumb {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}
.crumb .top-bread, .crumb .bottom-bread {
  background: linear-gradient(90deg, #ffd790 50%, #ffd180 50%);
}
.crumb .top-bread {
  height: 36%;
}

.spread {
  top: 30%;
  left: 20%;
  width: 60%;
  height: 60%;
  position: absolute;
  overflow: hidden;
  border-radius: 10%;
}

.pb {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #8f2909 50%, #772208 50%);
  position: absolute;
  top: 0;
  left: 0;
  animation: spread-up 6s infinite;
}

.jam {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ad1457 50%, #880e4f 50%);
  position: absolute;
  top: 0;
  left: 0;
  animation: spread-down 6s infinite;
}

@keyframes spread-up {
  0% {
    top: 0;
    left: -100%;
    z-index: 4;
  }
  25%, 50% {
    top: 0;
    left: 0;
    z-index: 4;
  }
  51% {
    z-index: 3;
  }
  75% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: -100%;
  }
}
@keyframes spread-down {
  0%, 25% {

    
    z-index: 3;
  }
  50% {
    top: 0;
    left: 100%;
    z-index: 3;
  }
  51% {
    z-index: 4;
  }
  75%, 100% {
    top: 0;
    left: 0;
    z-index: 4;
  }
}
@media (max-width: 170px) {
  .circle {
    display: none;
  }
}
